{
    "plugins": ["prettier-plugin-java"],
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 80,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "javaBracketSameLine": false,
    "javaSpacesInsideParentheses": false,
    "javaSortImports": true,
    "singleAttributePerLine": true
  }
